{{ partial "header.html" . }}
<div class="pure-g">
  <div class="pure-u-1-24 pure-u-lg-1-12 pure-u-xl-1-5"></div>
  <div class="pure-u-11-12 pure-u-lg-5-6 pure-u-xl-3-5" id="main">
  	<main>
  	  <header>
  	    <h1>List of {{ .Title }}</h1>
  	  </header>

  	  {{ if .Content }}
        {{ .Content }}
      {{ end }}

      <ul>
        {{ range $key, $value := .Data.Terms.ByCount }}
          <li>
            <a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a>
            ({{ $value.Count }})
          </li>
        {{ end }}
      </ul>
    </main>
  </div>
  <div class="pure-u-1-24 pure-u-lg-1-12 pure-u-xl-1-5"></div>
</div>
{{ partial "footer.html" . }}