<div class="pure-g" id="related">
    <div class="pure-u-1-24 pure-u-lg-1-12 pure-u-xl-1-5"></div>
	<div class="pure-u-11-12 pure-u-lg-5-6 pure-u-xl-3-5">
		<h1>More</h1>
		<!-- Basic previous / next pages by date -->
		{{ with .Next }}
			<p>Next: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
		{{ end }}
		{{ with .Prev }}
			<p>Previous: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
		{{ end }}

		<!-- List series that this page is part of -->
		{{ $this_page_series := .Params.series }}
		{{ with $this_page_series }}
			{{ range $key, $taxonomy := site.Taxonomies.series }}
				{{ if in $taxonomy.Pages $.Page }}
					<h2><a href="{{ .Page.Permalink }}">Series: {{ .Page.Title }}</a></h2>
					<ol>
					{{ range $taxonomy.Pages.ByDate }}
						{{ if eq . $.Page }}
							<li><b><a href="{{ .Permalink}}">{{ .Page.Title }}</a></b> (You are here)</li>
						{{ else }}
							<li><a href="{{ .Permalink}}">{{ .Page.Title }}</a></li>
						{{ end }}
					{{ end }}
					</ol>
				{{ end }}
			{{ end }}
		{{ end }}

		<!-- Other posts in the same categories -->
		{{ range $key, $taxonomy := site.Taxonomies.categories }}
			{{ if in $taxonomy.Pages $.Page }}
				{{ $before := slice }}
				{{ $after  := slice }}
				{{ $found  := false }}
				{{ range $taxonomy.Pages.ByDate }}
					{{ if eq . $.Page }}
						{{ $found = true }}
					{{ else if $found }}
						{{ $after = $after | append . }}
					{{ else }}
						{{ $before = $before | append . }}
					{{ end }}
				{{ end }}
				{{ $nearby := last 2 $before }}
				{{ range first 2 $after }}
					{{ $nearby = $nearby | append . }}
				{{ end }}
				{{ with $nearby }}
					<h2>More in <a href="{{ $taxonomy.Page.Permalink }}">{{ $taxonomy.Page.Title }}</a></h2>
					<ul>
						{{ range $nearby }}
							<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
			{{ end }}
		{{ end }}

		<!-- Other posts with the same tags -->
		{{ range $key, $taxonomy := site.Taxonomies.tags }}
			{{ if in $taxonomy.Pages $.Page }}
				{{ $before := slice }}
				{{ $after  := slice }}
				{{ $found  := false }}
				{{ range $taxonomy.Pages.ByDate }}
					{{ if eq . $.Page }}
						{{ $found = true }}
					{{ else if $found }}
						{{ $after = $after | append . }}
					{{ else }}
						{{ $before = $before | append . }}
					{{ end }}
				{{ end }}
				{{ $nearby := last 2 $before }}
				{{ range first 2 $after }}
					{{ $nearby = $nearby | append . }}
				{{ end }}
				{{ with $nearby }}
					<h2>More tagged <a href="{{ $taxonomy.Page.Permalink }}">{{ $taxonomy.Page.Title }}</a></h2>
					<ul>
						{{ range $nearby }}
							<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
			{{ end }}
		{{ end }}

	</div>
	<div class="pure-u-1-24 pure-u-lg-1-12 pure-u-xl-1-5"></div>
</div>
